<ion-view title="Viki">
    <ion-content padding="false">
        <ion-refresher pulling-text="Loading Messages..." on-refresh="loadRoomData()">
        </ion-refresher>
        <ion-spinner ng-if="showLoading" class="spinner-energized" icon="lines"></ion-spinner>
        <ion-list ng-repeat="message in messages track by $index">
            <div ng-class="isUser(message)">
                <ion-item ng-if="message.templateName == 'generic'">
                    {{message.templateContent.text}}
                </ion-item>
                <ion-item ng-if="message.templateName == 'buttons'">
                    <ion-card>
                        <ion-card-header>
                            {{message.templateContent.text}}
                        </ion-card-header>
                        <ion-list ng-repeat="button in message.templateContent.buttons track by $index">
                            <button secondary ion-item id="button.id" data-askfor="button.askfor" ng-click="sendButtonText(button)">
                                {{button.name}}{{button.id}}
                            </button>
                        </ion-list>
                    </ion-card>
                </ion-item>
                <ion-item ng-if="message.templateName == 'problemIntroTemplate'">
                    {{message.templateContent.text}}
                    <ion-card>
                        <ion-card-header>
                            {{message.templateContent.problem.name}}
                        </ion-card-header>
                        <ion-item ng-repeat="formula in message.templateContent.problem.formulaList track by $index">
                            <ion-card-content>
                                <h2>Equation:</h2>
                                <p>{{formula.equation}}
                                    <p>
                            </ion-card-content>
                            <ion-card-content>
                                <h2>Explanation:</h2>
                                <p>{{formula.explanation}}
                                    <p>
                            </ion-card-content>
                            <ion-card-content>
                                <h2>Example:</h2>
                                <p>{{formula.example}}
                                    <p>
                            </ion-card-content>
                        </ion-item>
                        <ion-item>
                            <ion-list ng-repeat="button in message.templateContent.buttons track by $index">
                                <button primary clear item-left data-askfor="button.askfor" ng-click="sendButtonText(button)">
                                    {{button.text}}
                                </button>
                            </ion-list>
                        </ion-item>
                        <ion-card>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
    <form novalidate="novalidate" name="meesageForm">
        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type your messsage" ng-model="messageConent" required/>
            </label>
            <button ng-disabled="!meesageForm.$valid" class="button button-clear " ng-click="sendMessage()">
                Send
            </button>
        </ion-footer-bar>
    </form>
</ion-view>
