<ion-view>
    <ion-tabs class="tabs-striped tabs-top tabs-background-royal tabs-light">

        <ion-tab title="Chat" icon="ion-chatbox" href="#/tab/chat">
            <ion-nav-view name="chat-tab"></ion-nav-view>
        </ion-tab>

        <!-- <ion-tab title="Dev" icon="ion-ios7-information" href="#/tab/dev">
            <ion-nav-view name="dev-tab"></ion-nav-view>
        </ion-tab> -->

        <ion-tab title="Account" icon="ion-person" href="#/tab/account">
            <ion-nav-view name="account-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>